In [1]:
print("Hay Welcome to Loop Class!")

Hay Welcome to Loop Class!

In [6]:
l = [3,4,5,6,7,7,8]
for i in l:
    print(i)

3
4
5
6
7
7
8

In [8]:
l = [3,4,5,6,7,7,8]
for i in l:
    print(i**2)

9
16
25
36
49
49
64

In [9]:
range(5)

range(0, 5)

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [11]:
list(range(1,5))

[1, 2, 3, 4]

In [12]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [13]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [14]:
l = ["Rupesh","Rupesh Tech", 2, 4, 5,"Python"]
for i in l:
    if type(i) == str:
        print(i)

Rupesh
Rupesh Tech
Python

In [15]:
s = "Rupesh"
for i in s:
    print(i)

R
u
p
e
s
h

In [16]:
t = (4,5,6,7,8,9,4,6,8)
for i in t:
    print(i)

4
5
6
7
8
9
4
6
8

In [17]:
s = {3,4,56,7,7,7,7,8,4,4,}
for i in s:
    print(i)

3
4
7
8
56

In [20]:
d = {"name":"Rupesh Tech","Owner":"Rupesh","Channel":"Youtube"}

In [21]:
d.keys()

dict_keys(['name', 'Owner', 'Channel'])

In [22]:
d.items()

dict_items([('name', 'Rupesh Tech'), ('Owner', 'Rupesh'), ('Channel', 'Youtube')])

In [23]:
for i in d.keys():
    print(d[i])

Rupesh Tech
Rupesh
Youtube

In [27]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [30]:
limit = 10
a = 0
b = 1
for i in range(limit):
    print(a)
    a,b = b,a+b

0
1
1
2
3
5
8
13
21
34

In [31]:
print("Welcome to while loop class")

Welcome to while loop class

In [32]:
limit = 10
a = 0
b = 1

i = 0
while i < limit:
    print(a)
    a,b = b,a+b
    i = i+1

0
1
1
2
3
5
8
13
21
34

In [33]:
n = 10
i = 0
while i < n :
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [34]:
n = 10
while n > 0:
    print(n)
    n = n - 1

10
9
8
7
6
5
4
3
2
1

In [35]:
print("Welcome to Function Class")

Welcome to Function Class

In [40]:
print("Rupesh")
print(range(4))
print(type("raja"))
print(len("raja"))

Rupesh
range(0, 4)
<class 'str'>
4

In [41]:
limit = 10
a = 0
b = 1
for i in range(limit):
    print(a)
    a,b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [45]:
def hello():
    print("This is my Hello Function")

In [46]:
hello()

This is my Hello Function

In [47]:
hello()

This is my Hello Function

In [49]:
def test(a,b):
    print(a,b)

In [52]:
test("Raja",34)

Raja 34

In [53]:
def fib(limit):
    a = 0
    b = 1
    for i in range(limit):
        print(a)
        a , b = b, a + b

In [54]:
fib(10)

0
1
1
2
3
5
8
13
21
34

In [55]:
fib(20)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [56]:
def test(a):
    print(a)

In [57]:
test(23)

23

In [58]:
test(23) + 5

23

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'