In [ ]:
t = ()
type(t)

tuple

In [1]:
t = (2,3,5,6)
t

(2, 3, 5, 6)

In [2]:
t1 = ("a", "b" , "c")
t2 = (1, 2, 3)

t3 = t1 + t2
print(t3)

('a', 'b', 'c', 1, 2, 3)

In [5]:
t = (4,5,6,7,"rupe", 5 + 9j, 45.67,True,False,[3,4,5,6,7])
t

(4, 5, 6, 7, 'rupe', (5+9j), 45.67, True, False, [3, 4, 5, 6, 7])

In [6]:
t[0]

4

In [7]:
t[-1]

[3, 4, 5, 6, 7]

In [8]:
t[4:7]

('rupe', (5+9j), 45.67)

In [9]:
t[0:4]

(4, 5, 6, 7)

In [10]:
t[5]

(5+9j)

In [11]:
type(t[5])

complex

In [12]:
t[5].imag

9.0

In [13]:
t[5].real

5.0

In [14]:
t[4][1:3]

'up'

In [17]:
t = (4,5,6,7)

In [18]:
l1 = [3,4,5,6,7,8]

In [19]:
l1[0]="Rupesh"

In [20]:
l1

['Rupesh', 4, 5, 6, 7, 8]

In [21]:
t1 [4] = "Rupesh"

TypeError: 'tuple' object does not support item assignment

In [24]:
list(t)  #Type conversion

[4, 5, 6, 7]

In [25]:
s = "Rupesh"

In [26]:
s[0]

'R'

In [27]:
s[0] = "A"

TypeError: 'str' object does not support item assignment

In [29]:
s1 = {}
type(s1)

dict

In [31]:
s2 = {2.4,5,7,89,5}
s2

{2.4, 5, 7, 89}

In [34]:
s3 = {"rupesh","Rupesh",4,5,6,7,4,3,6,6}
s3

{3, 4, 5, 6, 7, 'Rupesh', 'rupesh'}

In [35]:
s4 = {"rupesh","rupesh",4,5,6,7,4,3,6,6}
s4

{3, 4, 5, 6, 7, 'rupesh'}

In [36]:
s4[0]

TypeError: 'set' object is not subscriptable

In [37]:
l4 = list(s4)

In [38]:
l4[0]

3

In [39]:
t4 = tuple(s4)

In [40]:
t4

(3, 4, 5, 6, 7, 'rupesh')

In [46]:
l5 = [4,5,6,7,8,4,8,9,34,6,9,5,3,6,8,6,8345,7897,3]
l5 = (set(l5))
l5

{3, 4, 5, 6, 7, 8, 9, 34, 7897, 8345}

In [47]:
l5 = list(set(l5))
l5

[34, 3, 4, 5, 6, 7, 8, 9, 7897, 8345]

In [48]:
d = {"name":"Rupesh","roll_no":1}
d

{'name': 'Rupesh', 'roll_no': 1}

In [53]:
d["name"]

'Rupesh'

In [54]:
d1 = {0:[2,4,5,3,5,3,9],"name":"Rupesh","classes":["python","c"]}
d1

{0: [2, 4, 5, 3, 5, 3, 9], 'name': 'Rupesh', 'classes': ['python', 'c']}

In [55]:
d1["classes"]

['python', 'c']

In [56]:
d1[0]

[2, 4, 5, 3, 5, 3, 9]

In [57]:
d2 = {0:[2,4,5,3,5,3,9],"name":"Rupesh","classes":["python","c"],"name":"Raja"}
d2

{0: [2, 4, 5, 3, 5, 3, 9], 'name': 'Raja', 'classes': ['python', 'c']}

In [59]:
d2["name"] = "Ram"

In [60]:
d2

{0: [2, 4, 5, 3, 5, 3, 9], 'name': 'Ram', 'classes': ['python', 'c']}

In [64]:
d2["classes"] = "Python Hindi Batch"
d2

{0: [2, 4, 5, 3, 5, 3, 9], 'name': 'Ram', 'classes': 'Python Hindi Batch'}

In [5]:
s = "rupesh"

In [9]:
s.capitalize()

'Rupesh'

In [11]:
s.casefold()

'rupesh'

In [12]:
s.center(60)

'                           rupesh                           '

In [15]:
s.count('ru')

1

In [16]:
s1 = "Ram is a gud boy & he is too intelligent ewfert awdejwr ferferg wqehyrfg fgdtgrt"

In [19]:
s1.count('he')

1

In [21]:
s1.find("too")

25

In [22]:
s1.find("Raja")

-1